<div>
  <nav id="navbar" class="navbar bg-body-tertiary">
    <div
      class="container-fluid justify-content-center justify-content-md-between"
    >
      <a class="navbar-brand fs-3 fw-semibold mb-1 mb-md-0"
        ><img
          class="logo1"
          style="height: 40px; margin-bottom: 12px; margin-right: 3px"
          src="/Light_Gray_Logo.png"
          alt=""
        />
        <img
        class="logo2"
        style="height: 40px; margin-bottom: 12px; margin-right: 3px"
        src="/Brightened_Logo.png"
        alt=""
      />
        Studio</a
      >
      <form class="d-flex" action="/search" method="post" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="searchText"
        />
        
          <style>
            .hovery{
              transition: 0.1s all !important;
            }
            .hovery:hover {
              color: white !important;
            }
          </style>
          <button type="submit" class="hovery1 hovery btn btn-outline-success" style="text-decoration: none; color: #198754;">
              Search
            </button>
        
      </form>
    </div>
  </nav>
</div>